<div class="main">
    <form class="container" [formGroup]="regForm" (ngSubmit)="submitReg()">
        <div class="text">Registration</div>
        <div class="input">
            <label>login</label>
            <input formControlName="login">
        </div>
        
        <div class="input">
            <label>email</label>
            <input type="email" formControlName="email">
        </div>

        <div class="input">
            <label>password</label>
            <input type="password" formControlName="password">
        </div>
        
            <button type="submit">Submit</button>
         
    </form>
</div>
